
p{
    color: blueviolet;
    line-height: 150%;
 }
.zelena{
    color: green;
    line-height: 150%;
}
.fialova{
    color:violet;
    line-height: 150%;
}
    
h1 {
    text-align: center;
}
